html {
  // Set some padding so that anchor targets on images have some context.
  scroll-padding-top: 4rem;
}

.site-title {
  // Make the default font size smaller
  // to fit the title on a single line.
  @include fs-3;
}

img {
  // Add a subtle shadow to images.
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25);
}

// Style figure cations.
figure {
  figcaption {
    font-size: 0.8em;
    font-style: italic;
  }
}

// A custom block for annotated screenshots.
.annotated-screenshot {
  position: relative;

  ol {
    margin: 0;
    > li {
      position: absolute;
      list-style: none;

      &:target {
        text-decoration: underline;
      }

      &:before {
        display: none;
      }
    }
  }
}
