.moj-anchor {
    // Position relative, so that the icon can be positioned absolutely.
    position: relative;
    // Indicate the anchor text. It canbe seen even if it's just a space.
    border-bottom: 1px dotted blue;
    // Make space for the anchor icon.
    margin-left: 1em;

    &:before {
        // An absolutely positioned anchor icon.
        display: block;
        position: absolute;
        // Necessary for pseudo-elements to work.
        content: '';
        // Size and position of the icon.
        top: 0.1em;
        left: -1em;
        width: 1em;
        height: 1em;
        // The icon itself.
        background-image: url('../img/icon/anchor.svg');
        // Don't crop the icon.
        background-size: contain;
    }

    &__popover {
        .components-popover__content {
            min-width: 300px;
            padding: 1em;
        }
        &__row--button {
            display: flex;
            justify-content: flex-end;
        }

    }
}
