@use '../v2-mixins.scss' as mixins;

.pagination {
    $this: &;

    @include mixins.spacing('margin', 8, 'top');

    display: flex;
    justify-content: center;

    &__list {
        @include mixins.spacing('margin', 9, 'left');
        @include mixins.spacing('margin', 9, 'right');

        display: flex;
        flex-direction: row;
        max-width: 100%;
    }

    &__sublist {
        flex-wrap: wrap;
    }

    &__link {
        @include mixins.link;
        @include mixins.spacing('padding', 1, 'left');
        @include mixins.spacing('padding', 1, 'right');

        display: flex;
        justify-content: center;
        min-width: 1.5rem;
        min-height: 1.5rem;

        &--previous {
            #{$this}__link-text {
                @include mixins.spacing('padding', 1, 'left');
            }
        }

        &--next {
            #{$this}__link-text {
                @include mixins.spacing('padding', 1, 'right');
            }
        }
        &:visited {
            color: var(--justice-link) !important;
        }
        &:active {
            color: var(--justice-link) !important;
        }
    }

    &__sublist {
        // only for disabled state on anchors within sublist
        a#{$this}__link.disabled {
            @include mixins.disabled;
            opacity: 1 !important;
            color: var(--justice-primary-black);
            background-color: #e6e6e6;
            padding: 2px 2px 0;
            border: 1px solid #adadad;

            &:hover {
                color: var(--justice-primary-black);
            }
        }
    }

    &__link.disabled {
        @include mixins.disabled;

        &:hover {
            color: var(--justice-primary-black);
        }
    }

    &__link-text {
        @media screen and (width <= calc(mixins.$justice-lg - 1px)) {
            @include mixins.visually-hidden;
        }
    }
}
