@use '../../../style';

.search-result-list {
    &__element {
        @include style.spacing('padding', 6, 'top');
        @include style.spacing('padding', 6, 'bottom');

        border-bottom: 1px solid var(--justice-border);

        &:first-child {
            padding-top: 0;
        }

        &:last-child {
            padding-bottom: 0;
            border: none;
        }
    }

    &__no-results-query {
        font-weight: var(--body-font-bold);
    }
}
