volumes:
  deno_node_modules: ~
  dist: ~
  php-socket:
  mariadb_data: ~
  minio_storage: ~
  local_ssh: ~

services:
  php-fpm:
    build:
      context: .
      target: dev
    volumes:
      - dist:/var/www/html/public/app/themes/justice/dist
      - .:/var/www/html
      - php-socket:/sock
    env_file:
      - .env
    depends_on:
      - mariadb
      - minio
    pre_stop:
      # Run the stop script before stopping the container.
      # Redirect the output to the main process's stderr.
      - command: ["ash", "-c",  "/usr/local/bin/fpm-stop.sh >> /proc/1/fd/2"]

  nginx:
    build:
      context: .
      dockerfile: Dockerfile
      target: nginx-dev
    volumes:
      - dist:/var/www/html/public/app/themes/justice/dist
      - php-socket:/sock
      ### Deploy scripts
      - ./deploy/config/local/php-fpm.conf:/etc/nginx/php-fpm.conf
      - ./deploy/config/local/server.conf:/etc/nginx/conf.d/default.conf
      - ./deploy/config/nginx.conf:/etc/nginx/nginx.conf
      - ./deploy/config/auth-request.conf:/etc/nginx/auth-request.conf
      - ./deploy/config/php-fpm-auth.conf:/etc/nginx/php-fpm-auth.conf
      - ./deploy/config/redirects.conf:/etc/nginx/redirects.conf
      ### Assets
      - ./public/app/plugins:/var/www/html/public/app/plugins
      - ./public/app/themes/justice/screenshot.png:/var/www/html/public/app/themes/justice/screenshot.png
      - ./public/app/themes/justice/error-pages:/var/www/html/public/app/themes/justice/error-pages
      - ./public/wp:/var/www/html/public/wp
      - ./public/index.php:/var/www/html/public/index.php
    environment:
      VIRTUAL_HOST: ${SERVER_NAME}
      VIRTUAL_PORT: 8080
      SERVER_NAME: justice.docker
    ports:
      - "8080:8080"
    depends_on:
      - deno
      - php-fpm

  deno:
    build:
      target: deno-dev
    command: deno task watch
    volumes:
      - deno_node_modules:/app/node_modules
      - dist:/app/dist
      - ./public/app/themes/justice:/app

  jekyll:
    build:
      target: jekyll-dev
    entrypoint: make
    command: jekyll-serve
    volumes:
      - ./Makefile:/home/Makefile
      - ./.github/pages:/home/pages
    ports:
      - "4000:4000"
      - "35729:35729"
    environment:
      VIRTUAL_HOST: pages.${SERVER_NAME}
      VIRTUAL_PORT: 4000


  mariadb:
    image: mariadb:10
    healthcheck:
      test: [ "CMD-SHELL", "bash", "-c", "echo > /dev/tcp/localhost/3306" ]
      interval: 1s
    volumes:
      - mariadb_data:/var/lib/mysql
    environment:
      MYSQL_RANDOM_ROOT_PASSWORD: "true"
      MYSQL_USER: ${DB_USER}
      MYSQL_PASSWORD: ${DB_PASSWORD}
      MYSQL_DATABASE: ${DB_NAME}

  minio:
    image: minio/minio
    ports:
      - "9000:9000"
      - "9001:9001"
    volumes:
      - minio_storage:/data
    environment:
      MINIO_ROOT_USER: ${AWS_ACCESS_KEY_ID}
      MINIO_ROOT_PASSWORD: ${AWS_SECRET_ACCESS_KEY}
      VIRTUAL_HOST: minio.${SERVER_NAME}
      VIRTUAL_PORT: 9000
    command: server --console-address ":9001" /data
    healthcheck:
      test: timeout 5s bash -c ':> /dev/tcp/127.0.0.1/9000' || exit 1
      start_period: 5s
      interval: 10s
      timeout: 5s
      retries: 2

  minio-init:
    image: minio/mc
    depends_on:
      - minio
    entrypoint: |
      /bin/sh -c "
        mc config host add justice-gov-uk http://minio:9000 ${AWS_ACCESS_KEY_ID} ${AWS_SECRET_ACCESS_KEY}
        mc mb justice-gov-uk/${S3_BUCKET_NAME}
        mc anonymous set download justice-gov-uk/${S3_BUCKET_NAME};
        exit 0
      "

  cdn:
    image: caddy:2.7.6-alpine
    volumes:
      - ./deploy/config/local/Caddyfile:/etc/caddy/Caddyfile
    environment:
      S3_BUCKET_NAME: ${S3_BUCKET_NAME}
      VIRTUAL_HOST: cdn.${SERVER_NAME}
      VIRTUAL_PORT: 2019
    depends_on:
      - minio

  phpmyadmin:
    image: phpmyadmin
    environment:
      - PMA_HOST=mariadb
    depends_on:
      - mariadb
    ports:
      - "9191:80"
    links:
      - mariadb

  local-ssh:
    build:
      context: .
      target: local-ssh
      args:
        LOCAL_SSH_PASSWORD: ${LOCAL_SSH_PASSWORD}
    volumes:
      - .:/var/www/html
      - local_ssh:/home/ssh-user/.ssh
    env_file:
      - .env
    environment:
      VIRTUAL_HOST: ssh.${SERVER_NAME}
      VIRTUAL_PORT: 2222
    ports:
      - 2222:22
    profiles:
      - local-ssh

  redis:
    image: 'bitnami/redis:latest'
    environment:
      - ALLOW_EMPTY_PASSWORD=yes
