version: "3.8"

volumes:
    node_modules: ~
    dist: ~
    mariadb_data: ~

services:
    php-fpm:
        build:
            context: .
            target: dev
        volumes:
            - .:/var/www/html
        env_file:
            - .env
        depends_on:
            - mariadb

    nginx:
      build:
        context: .
        target: nginx-dev
      volumes:
        - dist:/var/www/html/public/app/themes/justice/dist
        - ./deploy/config/local/php-fpm.conf:/etc/nginx/php-fpm.conf
        - ./deploy/config/local/server.conf:/etc/nginx/conf.d/default.conf
        - ./public/index.php:/var/www/html/public/index.php
        - ./public/wp/wp-admin/index.php:/var/www/html/public/wp/wp-admin/index.php
      environment:
        VIRTUAL_HOST: ${SERVER_NAME}
        VIRTUAL_PORT: 8080
        SERVER_NAME: justice.docker
      ports:
        - "8080:8080"
      depends_on:
        - php-fpm
        - node

    node:
        image: node:20
        working_dir: /node
        entrypoint: make
        command: node-assets
        volumes:
            - node_modules:/node/node_modules
            - dist:/node/dist
            - ./Makefile:/node/Makefile
            - ./public/app/themes/justice/src:/node/src
            - ./public/app/themes/justice/webpack.mix.js:/node/webpack.mix.js
            - ./public/app/themes/justice/package.json:/node/package.json

    mariadb:
        image: mariadb:10
        healthcheck:
            test: [ "CMD-SHELL", "bash", "-c", "echo > /dev/tcp/localhost/3306" ]
            interval: 1s
        volumes:
            - mariadb_data:/var/lib/mysql
        environment:
            MYSQL_RANDOM_ROOT_PASSWORD: "true"
            MYSQL_USER: ${DB_USER}
            MYSQL_PASSWORD: ${DB_PASSWORD}
            MYSQL_DATABASE: ${DB_NAME}

    phpmyadmin:
        image: phpmyadmin
        environment:
            - PMA_HOST=mariadb
        depends_on:
            - mariadb
        ports:
            - "9191:80"
        links:
            - mariadb

    spec:
        build:
            context: .
            target: spec
        volumes:
            - .:/var/www/html
        env_file:
            - .env
        environment: 
            # Overwrite the database name to use the test database
            - DB_PREFIX=test_
        depends_on:
            - nginx
            - mariadb
            - chromium

    chromium:
        image: seleniarm/standalone-chromium:latest
        shm_size: 2g
        ports:
            - "4444:4444"
            - "5900:5900"
            - "7900:7900"
        # add host
        extra_hosts:
            - "justice.docker:host-gateway"

    local-ssh:
      build:
        context: .
        target: local-ssh
        args:
          LOCAL_SSH_PASSWORD: ${LOCAL_SSH_PASSWORD}
      volumes:
        - .:/var/www/html
      env_file:
        - .env
      ports:
        - 2222:22
      profiles:
        - local-ssh

