@charset "UTF-8";
@use "style";

html {
    font-size: 16px;
}
html, body {
    height: 100%;
}

body, p {
    @include style.body;
    margin: 0;
}

h1, .h1 {
    @include style.h1;
}

h2, .h2 {
    @include style.h2;
}

h3, .h3 {
    @include style.h3;
}

h4, .h4 {
    @include style.h4;
}

h5, .h5 {
    @include style.h5;
}

h6, .h6 {
    @include style.h6;
}

ul, ol {
    list-style: none;
    margin: 0;
    padding: 0;
    text-indent: 0;
}

.visually-hidden {
    @include style.visually-hidden;
}

@include style.icons;
