@use "../mixins.scss" as mixins;

.button {
    &--primary {
        @include mixins.button('primary');
    }

    &--dark {
        @include mixins.button('dark');
    }

    &--light {
        @include mixins.button('light');
    }
}
