{% extends '@layouts/one-sidebar/one-sidebar.html.twig' %}

{% set direction = 'right' %}

{% set errorContent %}
    <h1>{{ title }}</h1>
    <p>{{ errorMessage }} - {{ errorCode }}</p>
    {{ content }}
{% endset %}

{% block headerContent %}
    {% include 'views/partials/header.html.twig' %}
{% endblock %}

{% block articleHeader %}
    {% include '@components/hero/hero.html.twig' with {
        title: title,
        eyebrowText: errorMessage ~ ' - ' ~ errorCode,
    }%}
{% endblock %}

{% block articleContent %}
    {% include '@components/rich-text/rich-text.html.twig' with {
        content,
    }%}
{% endblock %}

{% block sidebar %}
    {# No content #}
{% endblock %}

{% block footerContent %}
    {% include 'views/partials/footer.html.twig' %}
{% endblock %}
