@use '../mixins.scss' as mixins;

.image-with-text {
    display: flex;
    flex-direction: column;
    width: 100%;
    @media screen and (min-width: mixins.$justice-md) {
        &--right {
            flex-direction: row-reverse;
        }

        &--left {
            flex-direction: row;
        }
    }

    &__image {
        flex-basis: 60%;

        .image {
            width: 100%;
            height: 12rem;
            @media screen and (min-width: mixins.$justice-md) {
                height: 100%;
                max-height: 17rem;
            }
        }
    }

    &__content {
        flex-basis: 40%;
        @media screen and (min-width: mixins.$justice-md) {
            @include mixins.spacing('padding', 6, 'left');
            @include mixins.spacing('padding', 6, 'right');

            margin-top: 0;
        }
    }

    &__title {
        > :is(h1, h2, h3, h4, h5, h6) {
            @include mixins.h2;
            @media screen and (min-width: mixins.$justice-md) {
                margin-top: 0;
            }
        }

        a {
            @include mixins.link;

            font-family: inherit;
            font-size: inherit;
        }
    }

    .rich-text {
        @include mixins.spacing('margin', 4, 'top');

        p,
        a {
            @include mixins.h6;

            font-family: var(--justice-body-font);
        }
    }
}
