@use '../../../style';

.horizontal-rule {
    display: none;
    @media screen and (min-width: style.$justice-lg) {
        display: block;

        &:not(&--full-width) {
            @include style.container;
        }

        &__hr {
            @include style.spacing('margin', 8, 'top');

            margin-bottom: 0;
            width: 100%;
        }
    }
}
