{% extends '@layouts/one-sidebar/one-sidebar.html.twig' %}

{% set direction = 'right' %}

{% block header %}
    {% include '@components/header/header.html.twig' with {
        showLogo: true,
        showSearch: true,
        links: [
            {
                url: '#',
                label: 'Courts',
            },
            {
                url: '#',
                label: 'Procedure rules',
            },
            {
                url: '#',
                label: 'Offenders',
            },
        ],
        search: {
            id: 'search-bar-header',
            action: '#',
            input: {
                labelHidden: true,
                label: 'Search the Justice UK website',
                id: 'search-bar-header-input',
            },
            button: {
                text: 'Search',
            }
        }
    } %}
{% endblock %}

{% set errorContent %}
    <h1>{{ title }}</h1>
    <p>{{ errorMessage }} - {{ errorCode }}</p>
    {{ content }}
{% endset %}

{% block columnOne %}
    {% include '@components/rich-text/rich-text.html.twig' with {
        content: errorContent,
    } %}
{% endblock %}

{% block columnTwo %}
{#    No content    #}
{% endblock %}

{% block footer %}
    {% include '@components/footer/footer.html.twig' with {
        links: [
            {
                url: '#',
                label: 'Accessibility',
            },
            {
                url: '#',
                label: 'Cookies',
            },
            {
                url: '#',
                label: 'Contacts',
            },
            {
                url: '#',
                label: 'Copyright',
            },
            {
                url: '#',
                label: 'Help',
            },
            {
                url: '#',
                label: 'Privacy',
            },
            {
                url: '#',
                label: 'Webchats',
            },
            {
                url: '#',
                label: 'Website queries',
            },
        ],
    } %}
{% endblock %}