{#
@file
A search bar

Available variables:
    - action: string The form action
    - id: string The unique id of the form element
    - input: object The variables for the input component
    - button: object The variables for the button component
example:
    {% include '@components/text-input-form/text-input-form.html.twig' with {
        action: '/',
        id: 'search-top'
        input: {
            labelHidden: true,
            label: 'Search',
            id: 'search-top-input',
        },
        button: {
            variant: 'primary',
            type: 'input',
            inputType: 'submit',
            buttonText: 'Submit'
        }
    }%}
#}
<form id="{{ id }}" class="text-input-form" action="{{ action }}">
    <div class="text-input-form__wrapper">
        <div class="text-input-form__input">
            {% include '@components/text-input/text-input.html.twig' with {
                labelHidden: input.labelHidden,
                label: input.label,
                id: input.id,
                name: input.name,
            }%}
        </div>
        <div class="text-input-form__button">
            {% include '@components/button/button.html.twig' with {
                variant: 'primary',
                type: 'input',
                inputType: 'submit',
                buttonText: button.text,
            }%}
        </div>
        {% for input in hiddenInputs %}
            <input type="hidden" name="{{ input.name }}" value="{{ input.value }}">
        {% endfor %}
    </div>
</form>
