apiVersion: v1
kind: Secret
metadata:
  name: justice-gov-uk-dev-secrets
type: Opaque
stringData:
  GOV_NOTIFY_API_KEY: "${GOV_NOTIFY_API_KEY}"
  ACF_PRO_LICENSE: "${ACF_PRO_LICENSE}"
  SENTRY_DSN: "${SENTRY_DSN}"
  AUTH_KEY: "${AUTH_KEY}"
  AUTH_SALT: "${AUTH_SALT}"
  LOGGED_IN_KEY: "${LOGGED_IN_KEY}"
  LOGGED_IN_SALT: "${LOGGED_IN_SALT}"
  NONCE_KEY: "${NONCE_KEY}"
  NONCE_SALT: "${NONCE_SALT}"
  SECURE_AUTH_KEY: "${SECURE_AUTH_KEY}"
  SECURE_AUTH_SALT: "${SECURE_AUTH_SALT}"
  SUPPORT_EMAIL: "${SUPPORT_EMAIL}"
  JWT_SECRET: "${JWT_SECRET}"
  OAUTH_CLIENT_SECRET: "${OAUTH_CLIENT_SECRET}"
---
apiVersion: v1
kind: Secret
metadata:
  name: basic-auth-secret
type: Opaque
data:
  auth: "${BASIC_AUTH_BASE64}"
