@use '../v2-mixins.scss' as mixins;

.search-result-list {
    $this: &;
    &__element {
        @include mixins.spacing('padding', 6, 'top');
        @include mixins.spacing('padding', 6, 'bottom');

        border-bottom: 1px solid var(--justice-border);

        &:first-child {
            @include mixins.spacing('padding', 6, 'top');
            border-top: 1px solid var(--justice-border);

            #{$this}.no-pagination & {
                border-top: none;
            }
        }

        &:last-child {
            #{$this}.no-pagination & {
                @include mixins.spacing('padding', 9, 'bottom');
                border-bottom: none;
            }
        }
    }

    &__no-results-query {
        font-weight: var(--body-font-bold);
    }
}
