{% extends '@layouts/base/base.html.twig' %}
{% block mainContent %}
    <div class="two-sidebars">
        <div class="two-sidebars__grid">
            <div class="two-sidebars__column-one">
                {% block columnOne %}
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer pellentesque in mi convallis aliquam.</p>
                {% endblock %}
            </div>
            <div class="two-sidebars__column-two">
                {% block columnTwo %}
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer pellentesque in mi convallis aliquam. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nunc sit amet mi tristique, fringilla mauris sit amet, dapibus est. Curabitur aliquet, odio ut suscipit elementum, enim eros tincidunt erat, sed placerat risus lacus non dui. Sed ex metus, tristique nec lectus ut, pretium vulputate erat. Fusce tempus a nisl in scelerisque. Pellentesque eget accumsan eros, sit amet suscipit enim. Phasellus purus nisi, laoreet laoreet tincidunt vel, pellentesque quis nisi. Cras quis facilisis ex. Nulla eu est ac erat ullamcorper volutpat sodales et enim. Nulla ultricies aliquam varius. Pellentesque nec condimentum mi. Nullam condimentum ullamcorper condimentum. Proin sit amet est in quam lacinia pretium.</p>
                {% endblock %}
            </div>
            <div class="two-sidebars__column-three">
                {% block columnThree %}
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer pellentesque in mi convallis aliquam.</p>
                {% endblock %}
            </div>
        </div>
    </div>
{% endblock %}

