@use '../../../style';

.two-sidebars {
    $this: &;
    @include style.container;

    &__grid {
        @include style.grid;
    }

    &__article {
        @include style.grid-row(1, 4);

        @media screen and (min-width: style.$justice-lg) {
            @include style.grid-row(4, 6);
        }
    }

    &__article-header {
        width: 100%;

        > * {
            @include style.spacing('margin', 4, 'top');
        }

        > :first-child {
            @include style.spacing('margin', 8, 'top');
        }
    }

    &__article-content {
        width: 100%;

        > * {
            @include style.spacing('margin', 8, 'top');
        }

        > .file-download {
            @include style.spacing('margin', 4, 'top');
        }
    }

    &__sidebar {
        @include style.grid-row(1, 4);

        &--left {
            @media screen and (min-width: style.$justice-lg) {
                @include style.grid-row(1, 3);
            }
        }

        &--right {
            display: none;
            @media screen and (min-width: style.$justice-lg) {
                @include style.grid-row(10, 3);
            }
        }

        &--mobile {
            display: flex;
            @media screen and (min-width: style.$justice-lg) {
                display: none;
            }
        }

        > *:not(.navigation-secondary) {
            @include style.spacing('margin', 6, 'top');
            @media screen and (min-width: style.$justice-lg) {
                &:first-child {
                    @include style.spacing('margin', 8, 'top');
                }
            }
        }
    }
}
