apiVersion: v1
kind: ConfigMap
metadata:
  name: justice-gov-uk-production
  namespace: justice-gov-uk-production
data:
  WP_ENV: "production"
  WP_HOME: 'https://www.justice.gov.uk'
  WP_SITEURL: 'https://www.justice.gov.uk/wp'
  WP_LOOPBACK: 'http://localhost:8080'
  NGINX_PURGE_CACHE_URL: 'http://pod-broadcaster:1993/broadcast/purge-cache'
  WP_REDIS_DISABLED: "true"
  # See Azure Setup in the README for more information on how to get these values.
  # The following IDs are not private, they form part of the publicly visible oauth login url.
  OAUTH_CLIENT_ID: "3313c87a-399d-4130-a505-37c996721009"
  OAUTH_TENANT_ID: "c6874728-71e6-41fe-a9e1-2e8c36776ad8"
  # Default version of the frontend during rollout.
  FRONTEND_VERSION_DEFAULT: "1"
  # Percentage of users that will see the new version of the frontend.
  FRONTEND_ROLLOUT_PERCENTAGE: "35"
  # This is the version of the frontend that should be shown to users.
  # Show everyone version 1, even if they have a cookie set to version 2.
  # FRONTEND_VERSION_OVERRIDE: "1"
