apiVersion: autoscaling/v2
kind: HorizontalPodAutoscaler
metadata:
  name: justice-gov-uk-production
  namespace: justice-gov-uk-production
spec:
  scaleTargetRef:
    apiVersion: apps/v1
    kind: Deployment
    name: justice-gov-uk-production
  minReplicas: 6
  maxReplicas: 18
  metrics:
    - type: Resource
      resource:
        name: cpu
        target:
          type: Utilization
          # Rely on CPU usage for scaling more than memory usage.
          # Baseline CPU is usually around 20% of the request under normal load.
          # Scale up when average CPU across pods goes above 40% of the requested CPU.
          averageUtilization: 40
    - type: Resource
      resource:
        name: memory
        target:
          type: Utilization
          averageUtilization: 80
