{#
@file
The main navigation for the site

Available variables:
    - links: array An array of links to be displayed
        - url: string The url for the link
        - label: string The label for the link
example:
    {% include '@components/navigation-main/search-bar.html.twig' with {
        links: [
            {
                url: 'https://google.com',
                label: 'Click here'
                newTab: true,
            },
            {
                url: '#',
                label: 'Click here'
            }
        ]
    }%}
#}
<nav id="navigation-main" class="navigation-main">
    <div class="navigation-main__container">
        <ul class="navigation-main__list">
            {% for link in links %}
                <li class="navigation-main__link">
                    {% include '@components/link/link.html.twig' with {
                        newTab: link.newTab,
                        link: {
                            url: link.url,
                            label: link.label
                        }
                    } %}
                </li>
            {% endfor %}
        </ul>
    </div>
</nav>