@use 'sass:map';
@import '../../../style';

.navigation-main {
    background: var(--justice-primary-black);

    &__container {
        @include container;
    }

    /* prettier-ignore */
    &__list {
        display: flex;
        flex-direction: column;
        width: 100%;
        @media screen and (min-width: $justice-lg) {
            flex-direction: row;

            // Have a negative margin equal to the padding spacing so the text is visually inline with the container element but so the focus highlight still has padding
            margin-left: calc(map.get($spacing-units-desktop, 2) * -1);
        }
    }

    &__link {
        border-top: 1px var(--justice-primary-white) solid;
        @media screen and (min-width: $justice-lg) {
            border-top: none;
            border-left: 1px var(--justice-primary-white) solid;
        }

        a {
            @include spacing('padding', 2, 'top');
            @include spacing('padding', 2, 'bottom');

            display: block;
            font-family: var(--heading-font);
            color: var(--justice-primary-white);
            text-decoration: none;
            width: 100%;
            @media screen and (min-width: $justice-lg) {
                @include spacing('padding', 1, 'top');
                @include spacing('padding', 1, 'bottom');
                @include spacing('padding', 2, 'left');
                @include spacing('padding', 2, 'right');

                width: fit-content;
            }

            &:hover,
            &:visited,
            &:active {
                color: var(--justice-primary-white);
            }

            &:hover {
                text-decoration: underline;
                outline: none;
            }

            &:focus:not(:active, :hover) {
                outline: none;
                box-shadow: none;
            }
        }

        &:first-child,
        &:focus-within,
        &:focus-within + li {
            border: none;
        }
    }
}
