
/**
 * #ccfw-page-banner
 * The following rules apply a slight mod to a plugins display
 * https://github.com/ministryofjustice/cookie-compliance-for-wordpress
 *
 * Update context:
 * https://github.com/ministryofjustice/justice-gov-uk/pull/173
 */
#ccfw-page-banner {
  button {
    cursor: pointer;
  }

  .ccfw-banner__modal-container > button {

    &#cookie-save-preferences-top {
      float: right;
      margin-left: 35px;

      &[disabled] {
        cursor: not-allowed;
        background-color: #cfcfcf;
        -webkit-text-fill-color: #919191;
        color: #919191;
      }
    }
  }

  .ccfw-banner__toggle-slider {

    &:focus {
      -webkit-text-fill-color: #1d1b1b;
      box-shadow: none;

      :before {
        border-color: #1d1b1b
      }
    }

    &[aria-checked=true]:before {
      left: 7px
    }

    & > span {
      top: 7.5px !important;
    }
  }
}

// Recolour PublishPress preview banner to better fit the theme
.rvy_preview_msgspan {
  background-color: #373737 !important;
}
