// Styles for template parts in the common directory

.inline-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 1em;
  margin: 1em 0;
  padding: 0 !important;
  list-style: none !important;

  li {
    padding-left: 0 !important;
  }
}
