#content-wrapper {
  padding: 2em 0 3em 0;
  clear: both;
}

.container-wrapper {
  display: flex;
  width: 978px;
  margin: 0 auto;
  gap: 30px;
}

#content-left,
#content-right {
  width: 190px;
  min-width: 190px;
}

#content {
  flex-grow: 1;
}
