@use "../../components/v2-mixins" as mixins;

.page-wrapper {
    display: flex;
    flex-direction: column;
    height: 100%;

    > main {
        flex: 1 0 auto;
    }
}

.footer-wrapper {
    @include mixins.spacing('margin', 8, 'top');

    flex: 1;
    background-color: var(--justice-primary-black);
}
