@import '../../../style';

.search-bar-block {
    display: flex;
    flex-direction: column;
    &__wrapper {
        @include spacing('padding', 2);
        display: flex;
        background-color: var(--justice-primary-grey);
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
    }

    &__search {
        width: 100%;
        @media screen and (min-width: $justice-lg) {
            width: 70%;
        }
    }

    &__results {
        @include spacing('margin', 1 , 'top');
        display: flex;
        justify-content: end;
        width: 100%;
        @media screen and (min-width: $justice-lg) {
            margin-top: 0;
            width: 30%;
        }
    }

    &__results-text {
        @include body;
    }
    &__filter.disabled {
        @include disabled;
        color: var(--justice-primary-black);
        &:hover {
            color: var(--justice-primary-black);
        }
    }
    &__filters-wrapper {
        @include spacing('padding', 2, 'top');
        display: flex;
        justify-content: space-between;
        @media screen and (min-width: $justice-lg) {
            justify-content: start;
        }
    }
    &__filters {
        @include spacing('padding', 2, 'left');
    }
    &__filter {
        @include spacing('padding', 1, 'right');
        @include spacing('padding', 1, 'left');
        @include link;
        border-left: 1px var(--justice-border) solid;

        &:first-child {
            padding-left: 0;
        }
        &:first-child,
        &:focus {
            border: none;
        }
        &:visited {
            color: var(--justice-link);
        }
    }
}
