@use '../../../style';

.search-bar-block {
    display: flex;
    flex-direction: column;

    &__wrapper {
        @include style.spacing('padding', 2);

        display: flex;
        background-color: var(--justice-primary-grey);
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
    }

    &__search {
        width: 100%;
        @media screen and (min-width: style.$justice-lg) {
            width: 70%;
        }
    }

    &__results {
        @include style.spacing('margin', 1, 'top');

        display: flex;
        justify-content: end;
        width: 100%;
        @media screen and (min-width: style.$justice-lg) {
            margin-top: 0;
            width: 30%;
        }
    }

    &__did-you-mean {
        @include style.spacing('margin', 4, 'top');

        display: block;
        width: 100%;
        a {
            @include style.link();
        }
    }

    &__results-text {
        @include style.body;
    }

    &__filter.disabled {
        @include style.disabled;

        color: var(--justice-primary-black);

        &:hover {
            color: var(--justice-primary-black);
        }
    }

    &__filters-wrapper {
        @include style.spacing('padding', 2, 'top');

        display: flex;
        justify-content: space-between;
        @media screen and (min-width: style.$justice-lg) {
            justify-content: start;
        }
    }

    &__filters {
        @include style.spacing('padding', 2, 'left');
    }

    &__filter {
        @include style.spacing('padding', 1, 'right');
        @include style.spacing('padding', 1, 'left');
        @include style.link;

        border-left: 1px var(--justice-border) solid;

        &:first-child {
            padding-left: 0;
        }

        &:first-child,
        &:focus {
            border: none;
        }

        &:visited {
            color: var(--justice-link);
        }
    }
}
