.wp-block-list {
    // Approximate styling for the editor.
    &.is-style-pag-nav {
        display: flex;
        padding-left: 0;  
        list-style-type: none;
        
        li {
            padding: 4px 6px;
            border: 1px solid #ccc;
        }
    }
} 
