@use '../mixins.scss' as mixins;

.hero {
    &__breadcrumbs {
        @include mixins.spacing('margin', 4, 'bottom');
    }

    &__title {
        @include mixins.spacing('margin', 0, 'top');
    }
}
