{% extends '@layouts/one-sidebar/one-sidebar.html.twig' %}

{% set direction = 'right' %}

{% block columnOne %}
    {% include '@components/image-with-text/image-with-text.html.twig' with {
        direction: 'left',
        title: {
            text: 'Justice on GOV.UK',
            tag: 'h1',
            url: '#',
        },
        content: '<p>This website now hosts Civil and Family Procedure Committee Rules content only. You will be automatically redirected to equivalent content on <a href="#" target="_blank" rel="noopener">GOV.UK</a> or the National Archives.</p>',
        image: {
            url: 'https://images.unsplash.com/photo-1589994965851-a8f479c573a9',
            alt: 'A statue of the scales of justice'
        },
    } %}
{% endblock %}

{% block columnTwo %}
    {% include '@components/sidebar-block/sidebar-block.html.twig' with {
        variant: 'list',
        title: 'Most popular',
        links: [
            {
                url: '#',
                label: 'Procedure rules',
            },
            {
                url: '#',
                label: 'Daily court lists',
            },
            {
                url: '#',
                label: 'Prison finder',
            },
            {
                url: '#',
                label: 'XHIBIT daily court status',
            },
            {
                url: '#',
                label: 'Prison service instructions (PSIs)',
            },
            {
                url: '#',
                label: 'Probation instructions',
            },
        ],    } %}
{% endblock %}
