{% extends '@layouts/one-sidebar/one-sidebar.html.twig' %}

{% set direction = 'right' %}

{% block mainContentTop %}
    {% include '@components/horizontal-rule/horizontal-rule.html.twig' with {
        decorative: true,
    } %}
{% endblock %}

{% block articleHeader %}
    {# Empty as the page title is in the image/text component #}
{% endblock %}

{% block articleContent %}
    {% include '@components/image-with-text/image-with-text.html.twig' with {
        direction: 'left',
        title: {
            text: 'Justice UK',
            tag: 'h1',
        },
        content: '<p>This website now hosts Civil and Family Procedure Committee Rules content only. You will be automatically redirected to equivalent content on <a class="link link--new-tab" href="#">GOV.UK (opens in a new tab)</a> or the National Archives.</p>',
        image: {
            url: 'https://images.unsplash.com/photo-1589994965851-a8f479c573a9',
            alt: 'A statue of the scales of justice'
        },
    } %}
{% endblock %}

{% set mostPopular = {
    title: ' Most popular',
    variant: 'list',
    links: [
        {
            url: '#',
            label: 'Procedure rules',
        },
        {
            url: '#',
            label: 'Daily court lists',
        },
        {
            url: '#',
            label: 'Prison finder',
        },
        {
            url: '#',
            label: 'XHIBIT daily court status',
        },
        {
            url: '#',
            label: 'Prison service instructions (PSIs)',
        },
        {
            url: '#',
            label: 'Probation instructions',
        },
    ],
} %}

{% block mainContentBottom %}
    {% include '@components/horizontal-rule/horizontal-rule.html.twig' with {
        decorative: true,
    } %}
{% endblock %}

{% block sidebar %}
    {% include '@components/sidebar-block/sidebar-block.html.twig' with mostPopular %}
{% endblock %}
{% block sidebarMobile %}
    {% set updatedMostPopular = mostPopular|merge({ isMobile }) %}
    {% include '@components/sidebar-block/sidebar-block.html.twig' with updatedMostPopular %}
{% endblock %}
