@use '../mixins.scss' as mixins;

.to-the-top {
    @include mixins.link;
    @include mixins.spacing('margin', 4, 'top');

    display: flex;
    align-items: center;
    width: fit-content;

    &:visited {
        color: var(--justice-link);
    }

    &::after {
        @include mixins.triangle('top', var(--justice-link), 0.5rem);
        @include mixins.spacing('margin', 1, 'left');
    }

    &:hover {
        &::after {
            @include mixins.triangle('top', var(--justice-link-hover), 0.5rem);
        }

        &:visited {
            color: var(--justice-link-hover);
        }
    }

    &:focus-visible:not(:active, :hover) {
        &::after {
            @include mixins.triangle('top', var(--gds-black), 0.5rem);
        }
    }
}
