{#
@file
A component to display user created html

Available variables:
    - content: html
example:
    {% include '@components/button/input.html.twig' with {
        content: <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit <a href="#">Click here</a></p>,
    }%}
#}

<div class="rich-text">
    {{ content }}
</div>
