// Styling for the PublishPress Revisions plugin

// Hide the upsell menu link
.toplevel_page_revisionary-q {
  a[href="https://publishpress.com/links/revisions-menu"] {
    display: none !important;
  }
}
// Hide the upsell banner on the listing pages
.pp-version-notice-bold-purple {
  display: none;
}
// Hide banner requesting reviews
.revisionary-wp-reviews-notice {
  display: none;
}
// Use Wordpress colours as the module defaults aren't accessible
.pressshack-admin-wrapper {
  a {
    color: #2271b1 !important;
    &:hover {
      color: #135e96 !important;
    }
    &:focus {
      color: #043959 !important;
    }
  }
}
// Hide the upsell and support banner on the side of the settings
.pressshack-admin-wrapper {
  .inner-sidebar {
    display: none;
  }
  footer {
    display: none;
  }
  .ppseries-settings-body-content {
    width: 100% !important;
  }
}

// Styling for the Tree View plugin

// Hide the promo banner
div.cms_tpv_promo_above_wrapper {
    display: none !important;
}
