// Legacy styles.
@import "../css/global.css";
@import "../css/media.queries.css";
// Non-legacy styles.
@import "../components/core-rich-text/frontend";
@import "../components/search/frontend";
@import "../components/simple-definition-list-blocks/frontend";
@import "../components/to-the-top/frontend.css";
@import "layout";
@import "common";
@import "debug";
@import "form";

// Recolour PublishPress preview banner to better fit the theme
.rvy_preview_msgspan {
  background-color: #373737 !important;
}

@media print { #wpadminbar { display:none; } }