@import "../components/core-image/editor";
@import "../components/core-list/editor";
@import "../components/core-rich-text/editor";
@import "../components/search/editor";
@import "../components/simple-definition-list-blocks/editor";

// Triple the height of the suggestion list for the combobox component
.components-form-token-field__suggestions-list {
  max-height: 384px !important;
}

// Hide the colour and typography panels.
div.color-block-support-panel,
div.typography-block-support-panel {
    display: none;
}

// Remove Relevanssi Premium link from the top bar.
.edit-post-header__settings {
  .components-button[aria-label="Relevanssi Premium"] {
    display: none;
  }
}

// Style the core/footnotes block.
.wp-block-footnotes {
  .rich-text + a {
    // Hide the unicode character ↩︎.
    color: transparent;
    &:before { 
      // Show text.
      content: 'Back to text';
      color: #0073aa;
    }
  }
}
