@use '../mixins.scss' as mixins;

.image {
    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: top;
        @media screen and (min-width: mixins.$justice-md) {
            object-position: center;
        }
    }
}
