name: "Environment build / deploy"

on:
  workflow_call:
    inputs:
      environment:
        required: true
        type: string

env:
  REGION: ""
  ROLE_TO_ASSUME: ""
  REPOSITORY: ""

jobs:
  image_build:
    name: "Build"
    runs-on: ubuntu-latest
    environment: ${{ inputs.environment }}
    outputs:
      registry: ${{ steps.ecr-login.outputs.registry }}
    permissions:
      id-token: write
      contents: read
    steps:
      - name: "Prepare Variable Names"
        run: |
          area="${{ inputs.environment }}_ECR_REGION"
          role="${{ inputs.environment }}_ECR_ROLE_TO_ASSUME"
          repo="${{ inputs.environment }}_ECR_REPOSITORY"

          {
            echo "REGION=${area^^}";
            echo "::add-mask::ROLE_TO_ASSUME=${role^^}"
            echo "REPOSITORY=${repo^^}"
          } >> "$GITHUB_ENV"

      - name: "Checkout"
        uses: actions/checkout@v4

      - name: "Configuring AWS credentials"
        uses: aws-actions/configure-aws-credentials@v4
        with:
          role-to-assume: ${{ secrets[ env.ROLE_TO_ASSUME ] }}
          aws-region: ${{ vars[ env.REGION ] }}

      - name: "Logging into ECR"
        uses: aws-actions/amazon-ecr-login@v2
        id: ecr-login

      - name: "Build & Push to ECR"
        run: |
          docker image build -t $REGISTRY/$CP_REPOSITORY:fpm-$IMAGE_TAG --target build-fpm .
          docker image build -t $REGISTRY/$CP_REPOSITORY:nginx-$IMAGE_TAG --target nginx .
          docker push $REGISTRY/$CP_REPOSITORY:fpm-$IMAGE_TAG
          docker push $REGISTRY/$CP_REPOSITORY:nginx-$IMAGE_TAG
        env:
          REGISTRY: ${{ steps.ecr-login.outputs.registry }}
          CP_REPOSITORY: ${{ vars[ env.REPOSITORY ] }}
          IMAGE_TAG: ${{ github.sha }}

  deploy_environment:
    name: "Deploy"
    runs-on: ubuntu-latest
    needs: image_build
    environment: ${{ inputs.environment }}
    env:
      KUBE_NAMESPACE: ${{ secrets.KUBE_NAMESPACE }}

    steps:
      - name: "Checkout"
        uses: actions/checkout@v4

      - name: "Inject environment variables"
        env:
          TPL_PATH: "deploy/${{ inputs.environment }}"
          ECR_URL: ${{ needs.image_build.outputs.registry }}/${{ vars[ env.REPOSITORY ] }}
          IMAGE_TAG_NGINX: "nginx-${{ github.sha }}"
          IMAGE_TAG_FPM: "fpm-${{ github.sha }}"
          AUTH_KEY: ${{ secrets.AUTH_KEY }}
          AUTH_SALT: ${{ secrets.AUTH_SALT }}
          LOGGED_IN_KEY: ${{ secrets.LOGGED_IN_KEY }}
          LOGGED_IN_SALT: ${{ secrets.LOGGED_IN_SALT }}
          NONCE_KEY: ${{ secrets.NONCE_KEY }}
          NONCE_SALT: ${{ secrets.NONCE_SALT }}
          SECURE_AUTH_KEY: ${{ secrets.SECURE_AUTH_KEY }}
          SECURE_AUTH_SALT: ${{ secrets.SECURE_AUTH_SALT }}
        run: |
          cat $TPL_PATH/secret.tpl | envsubst > $TPL_PATH/secret.yaml
          cat $TPL_PATH/deployment.tpl | envsubst > $TPL_PATH/deployment.yaml

      - name: "Authenticate to the cluster"
        env:
          KUBE_CERT: ${{ secrets.KUBE_CERT }}
          KUBE_TOKEN: ${{ secrets.KUBE_TOKEN }}
          KUBE_CLUSTER: ${{ secrets.KUBE_CLUSTER }}
        run: |
          echo "${KUBE_CERT}" > ca.crt
          kubectl config set-cluster ${KUBE_CLUSTER} --certificate-authority=./ca.crt --server=https://${KUBE_CLUSTER}
          kubectl config set-credentials deploy-user --token=${KUBE_TOKEN}
          kubectl config set-context ${KUBE_CLUSTER} --cluster=${KUBE_CLUSTER} --user=deploy-user --namespace=${KUBE_NAMESPACE}
          kubectl config use-context ${KUBE_CLUSTER}

      - name: "Apply manifest files"
        run: |
          kubectl -n ${KUBE_NAMESPACE} apply -f deploy/${{ inputs.environment }}
